/*-- scss:defaults --*/
// import fonts
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Amatic+SC:wght@400;700&display=swap');
// Base document colors
$body-bg: white;
$link-color: #891D1D;
$link-decoration: none;

// Code blocks
$code-block-bg-alpha: -.8;

