/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* all formats */
.email:before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
  background-image: url('assets/mail.png');
  background-size: cover;
  margin-right: 5px; /* Adjust the spacing between the icon and the email address */
  margin-left: 15px; /* Adjust the spacing between the icon and the email address */
  vertical-align: middle;
}
.orcid:before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
  background-image: url('assets/orcid.png'); 
  background-size: cover;
  margin-right: 5px; /* Adjust the spacing between the icon and the text */
  margin-left: 15px; /* Adjust the spacing between the icon and the email address */
  vertical-align: middle;
}

.github:before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
  background-image: url('assets/github.png'); 
  background-size: cover;
  margin-right: 5px; /* Adjust the spacing between the icon and the text */
  margin-left: 15px; /* Adjust the spacing between the icon and the email address */
  vertical-align: middle;
}
.educationtitle {
  color: #0d4078;
  font-style: italic;
}
.cvdate {
  float: right;
  font-style: italic;
  color: black;
}

.edu {
  color: #0d4078;
  margin-right: 20%;
}

.subedu {
  color: black;
  font-size: 90%;
}

.course {
  color: #0d4078;
  font-size: 90%;
  font-style: italic;
}

.courseList {
  color: #0d4078;
  font-size: 90%;
  font-style: italic;
  margin-left: 9%;
}

.courseList1 {
  color: #0d4078;
  font-size: 90%;
  font-style: italic;
  margin-left: 1%;
}
.coursedate {
  float: right;
  font-style: italic;
  color: black;
  font-size: 90%;
}
.pubtitle {
  color: #0d4078;
}

.cvcontainer {
  display: inline-block;
  width: 100%;
  position: relative;
}

.cvlocation {
  position: absolute;
  right: 0;
  bottom: 0;
  vertical-align: baseline;
}
.doi {
  color: black;
}
.print-only {
  display: none;
  /*color: aquamarine;*/
}


/* adapt stylesheet for print
from: https://www.cynthiahqy.com/posts/cv-html-pdf/#install-weasyprint-and-render-to-pdf */

@media print {
    :root {
    --print-date: attr(data-print-date);
  }
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-right {
        content: counter(page) " of " counter(pages);
        font-size: 11pt;
        text-align: right;
      }
      @bottom-left {
        content: "Kinlan M.G. Jan";
        font-size: 11pt;
        text-align: left;
      }
  }
  @page:first {
    @top-right {
      content: "January 2025";
      font-size: 11pt;
      font-family: "Times New Roman", serif;
    }
    @top-left {
      content: url('assets/me.svg');
      width: 130px; 
      height: auto;
      padding-top: 150px;

    }
  }
  body {
    --print-date: attr(data-print-date);
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      text-align: center;
  }
  pdf {
    font-family: "Times New Roman", serif;
  }

  header {
    margin-block-end: 5em;
  }
  header h1.title {
      display: none;
  }
  
  header .author {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    margin-bottom: 0em;
    display: flex;
    align-items: flex-end; /* Align items at the bottom */
    position: relative;
  }
  h2::after {
    content: "";
    flex-grow: 1;
    display: block;
    height: 1px; /* Adjust the height of the line as needed */
    margin-left: 0.5em;
    background-color: black; /* Color of the line */
}
  h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    margin-bottom: 0;
  }
  a {
  color: black;
  text-decoration: none;
}
  
}